# Q1 .Write a program to accept percentage from the user and display the grade according to the following criteria
'''
Marks          Grade
>90            A
>80 and <=90   B
>=60 and <=80  C
below 60       D 
'''

In [4]:
marks= int(input("Enter the marks"))
if marks > 90 :
    print ("A")
elif marks >80 and marks <=90 :
    print("B")
elif marks >=60 and marks <=80 :
    print("C")
else :
    print ("D")

Enter the marks 59

D

In [5]:
# Q2 .Write a program to accept cost price of bike and display road tax to be paid according to following criteria
"""
Tax          Cost price
15%          >100000
10%          >50000 and <=100000
5%           <= 50000 
"""

'\nTax          Cost price\n15%          >100000\n10%          >50000 and <=100000\n5%           <= 50000 \n'

In [9]:
cost_price = int(input("Enter the price of bike"))
if cost_price > 100000 :
    print("road tax = ", 0.15 * cost_price)
elif cost_price > 50000 and cost_price <= 1000000:
    print("road tax = ", 0.10* cost_price)
else  :
    print ("road tax = ", cost_price * 0.05)

Enter the price of bike 45000

road tax =  2250.0

In [10]:
# Q3 .Accept any city from the user and display monumnets of that city
"""
City         Monument
Delhi        Red Fort
Agra         Taj Mahal
Jaipur       Jal Mahal
"""

'\nCity         Monument\nDelhi        Red Fort\nAgra         Taj Mahal\nJaipur       Jal Mahal\n'

In [15]:
city=str(input("Enter the city"))
user=city.lower()
if user == "delhi" :
    print("Red Fort")
    
elif user == "agra" :
    print("Taj Mahal")
else :
    print("Jal Mahal")

Enter the city Agra

Taj Mahal

In [16]:
#Q4.Check how many times a given number can be divided by 3 before it is less than or equal to 10

In [24]:
count=0
num=int(input("enter number"))
for i in range(num,11) :
    if  i%3==0 :
        count = count + 1
print (count)

enter number 3

3

# Q5.Why and when to use while loop in python with an example?

The while loop in Python is used to repeatedly execute a block of code as long as a given condition is true.
While loop when you want to repeat a set of actions until a specific condition is met. For example, you might use a while loop to repeatedly read input from the user until they enter a valid value

In [ ]:
while True:
    user_input = input("Enter a number:")
    if user_input.isdigit():
        break
    print("Invalid input, try again.")

In this example, the while loop continues to execute as long as the True condition is true. The break statement is used to exit the loop when a valid input is entered by the user.

In [ ]:
# Q6.3 different patterns using nested while look
# right angled triangle

In [1]:
# right angled triangle
rows=int(input("Enter number of rows"))
i=0
while i<rows:
    j=0
    while j<i:
        print("*",end=" ")
        j=j+1
    print("\r")
    i=i+1

Enter number of rows 10

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [2]:
#pyramid triangle

rows=int(input("enter number of rows"))
i=0
while i<rows:
    j=0
    while j<rows-i:
        print(end=" ")
        j=j+1
    k=0
    while k<i:
        print("*",end=" ")
        k=k+1
    print("\r")
    i=i+1

enter number of rows 8

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

In [10]:
#inverted right angled triangle
rows=int(input("enter number of rows"))
i=0
while i<rows:
    j=0
    while j<rows-i:
        print("*",end=' ')
        j=j+1
    print("\r")
    i=i+1

enter number of rows 5

* * * * *
* * * *
* * *
* *
*